{#<html>#}
{#    <head>#}
{#        DTL - django template tag#}
{#        {% block title %}#}
{##}
{#        {% endblock %}#}
{#        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">#}
{#    </head>#}
{#    <body>#}
{#        <div class="container">#}
{#            <div class="row>">#}
{#                <nav>#}
{#                    <a class="btn" href="/admin">Admin</a>#}
{#                    <a class="btn" href="{% url 'locations:lista_locatii' %}">Locatii</a>#}
{#                </nav>#}
{#            </div>#}
{#        </div>#}
{#    </body>#}
{#</html>#}