{% extends 'base.html' %}
{% block title %}
    <form method="POST">
        {% csrf_token %}
        <div class="col-md-6 offset-md-3" style="padding: 20%">
            <label>Username:<input class="form-control" type="text" name="username"></label>
            <label>Password:<input class="form-control" type="password" name="password"></label>
            <button class="btn btn-success" type="submit">Login</button>
            <span style="color: red">{{ form.non_field_errors }}</span>
            <a href="{% url 'password_reset' %}">Vrei sa iti resetezi parola?</a>
        </div>
    </form>
{% endblock %}